{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>django Project</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block styles %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/elegant_font/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/js/all.js' %}" rel="stylesheet">
    {% endblock %}
</head>
<body class="landing-page">
    
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header class="header text-center">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <img  src="{% static 'plugins/elegant_font/images/PNG/statistiques1.png' %}" alt="logo"
                            /> <h3 style="margin-left: 10px;">Data Visualization</h3>
                        
                    </h1>
                </div><!--//branding-->      
        </header><!--//header-->

        <section class="cards-section text-center">
                <div id="cards-wrapper" class="cards-wrapper row">

                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_genius"></span>
                                <i class="icon fa fa-paper-plane"></i>
                            </div><!--//icon-holder-->
                            <h3 class="title">visualiser le fichier</h3>         
                            <p class="intro">Présentez vos données sous forme de tableau</p>
                            <a class="link" href="{% url 'visualiser' %}"></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                
                    <div class="item item-pink item-2 col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Graphe</h3>
                            <p class="intro">Outil de conception de diagrammes</p>
                            <a class="link" href="{% url 'Graphe' %}"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    
                    <div class="item item-blue col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Parcoure des donnes</h3>
                            <p class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                            <a class="link" href="{% url 'statistiques' %}"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item item-purple col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_lifesaver"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Loi</h3>
                            <p class="intro">Layout for FAQ page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                            <a class="link" href="{% url 'loi' %}"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item item-pink item-2 col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                            </div><!--//icon-holder-->
                            <h3 class="title">Graphe</h3>
                            <p class="intro">Outil de conception de diagrammes</p>
                            <a class="link" href="{% url 'test' %}"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    
                </div><!--//cards-->  
            </div><!--//container-->
        
        </section><!--//cards-section-->
    </div><!--//page-wrapper-->

    <footer class="footer text-center">
        <div class="container">
            
            
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Main Javascript -->
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/plugins/stickyfill/dist/stickyfill.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    

</body>
</html>
    

